        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>My Gallery App</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The Indian retail industry is divided into organised and unorganised sectors. Organised retailing refers to trading activities undertaken by licensed retailers, that is, those who are registered for sales tax, income tax, etc. These include the corporate-backed hypermarkets and retail chains, and also the privately owned large retail businesses. Unorganised retailing, on the other hand, refers to the traditional formats of low-cost retailing, for example, the local kirana shops, owner manned general stores, paan/beedi shops, convenience stores, hand cart and pavement vendors, etc.</p>

                </div>

                <div class="col-lg-4">
                    <p>India’s retail sector is wearing new clothes and with a three-year compounded annual growth rate of 46.64 per cent, retail is the fastest growing sector in the Indian economy. Traditional markets are making way for new formats such as departmental stores, hypermarkets, supermarkets and specialty stores. Western-style malls have begun appearing in metros and second-rung cities alike, introducing the Indian consumer to an unparalleled shopping experience.
                    </p>
                </div>
              </div>
                 <div class="container">       
                   <img src="/assets/background.jpg" class="img-rounded", alt="Cinque Terre" width="304" height="236"> 
                </div>
        </div>

   