<!-- <footer class="footer">
  <small>
    The <a href="http://www.maropost.com/">Maropost</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.maropost.org/">News</a></li>
    </ul>
  </nav>
</footer> -->